In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url ='https://datasets.imdbws.com/title.basics.tsv.gz'
akas_url ='https://datasets.imdbws.com/title.akas.tsv.gz'
ratings_url ='https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)
akas = pd.read_csv(akas_url,sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)

In [4]:
basics = basics.replace({'\\N':np.nan}) 
akas = akas.replace({'\\N':np.nan}) 
ratings = ratings.replace({'\\N':np.nan})

In [5]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [6]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1199186
endYear           8926358
runtimeMinutes    6591575
genres             411062
dtype: int64

In [1]:
basics.duplicated().sum()

NameError: name 'basics' is not defined

In [7]:
basics = basics.dropna(subset=['runtimeMinutes', 'genres', 'startYear'])
basics['titleType'] = basics['titleType'] == 'Movies'
basics['startYear']= basics['startYear'].astype(int)

In [8]:
basics = basics[(basics['startYear']>= 2000) & (basics['startYear']<=2022)]
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [9]:
akas = akas.loc[akas['region'] == 'US']

In [10]:
keepers = basics['tconst'].isin(akas['titleId'])

In [11]:
basics = basics[keepers]

In [12]:
import os

In [13]:
os.makedirs("Data/",exist_ok=True)
os.listdir("Data/")

['title_basics.csv.gz', 'title_akas.csv.gz', 'title_ratings.csv.gz']

In [14]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [15]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0034413,False,Youth Gets a Break,Youth Gets a Break,0,2001,NaN,20,Short
1,tt0035423,False,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
2,tt0040241,False,Color Rhapsodie,Color Rhapsodie,0,2021,NaN,6,Short
3,tt0044326,False,Abstronic,Abstronic,0,2021,NaN,6,Short
4,tt0044879,False,Mandala,Mandala,0,2021,NaN,3,Short

In [16]:
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [17]:
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1892
1  tt0000002            5.9       252
2  tt0000003            6.5      1682
3  tt0000004            5.7       165
4  tt0000005            6.2      2499